<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/xiaomi</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="show_sql">false</property><!--不显示sql语句-->
        <!-- <property name="format_sql">true</property>--><!--使显示的sql语句格式化-->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--配置可以使用currentSession-->
        <property name="current_session_context_class">thread</property>
        <mapping class="po.Comments"/>
        <mapping class="po.CrawledUrl"/>
        <mapping class="po.Posts"/>
        <mapping class="po.Medal"/>
        <mapping class="po.Badge"/>
        <mapping class="po.User"/>
    </session-factory>

</hibernate-configuration>
